* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  color: #381838;
}
.nav-link {
  text-decoration: none;
  color: #381838;
}

/* homepage*/
.homepage {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  height: 55vh;
}
/* homepage kitchen section */
.kitchen {
  background-size: cover;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control {
  margin: 20px;
  width: 400px;
}
/* homepage order section */
.order {
  background-color: #381838;
  border-radius: 50px;
}
.order1 {
  margin: 20px;
  background-color: #381838;
}
.order1:hover {
  height: 100px;
}
.order2 {
  display: none;
}

.col-sm-6 img {
  height: 30vh;
  width: 100%;
}
