* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  color: #381838;
}
.nav-link {
  text-decoration: none;
  color: #381838;
}

/* homepage*/
.homepage {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  height: 100vh;
}
/* homepage kitchen section */
.kitchen {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control {
  margin: 20px;
  width: 400px;
}
/* homepage order section */
.order {
  background-color: #381838;
  border-radius: 50px;
  margin: 100px;
}
.order1 {
  margin: 20px;
  background-color: #381838;
}
.order1:hover {
  height: 100px;
}
.quote {
  margin-top: 70px;
}
.img {
  display: none;
}
/* homepage display section */

.display-panel h3 {
  color: #381838;
}

.check-out,
.display-panel h3,
.deliver,
.around,
.location,
.submit {
  /* display: none; */
  margin: 20px;
}
/* about section */
#about {
  background-color: aliceblue;
}
.about .image {
  margin-top: 50px;
}

.image img {
  border-radius: 10px;
  height: 30vh;
  width: 100%;
}
/* contact section */
#contact {
  background-color: aliceblue;
  margin-top: 30px;
}
.con,
.open {
  color: aliceblue;
  background-color: #381838;
  margin: 50px;
  border-radius: 10px;
}
.rev {
  color: #381838;
  border-color: #381838;
  border-radius: 10px;
  margin: 50px;
}
